registry=https://registry.npmjs.org/
@icg:registry=https://nexus.ingramcontent.com/repository/npm-hosted/
@lit:registry=https://nexus.ingramcontent.com/repository/npm-hosted/
email=chris.doty@ingramcontent.com
//nexus.ingramcontent.com/repository/npm-hosted/:_authToken=NpmToken.cce6429e-2226-3cc6-af7e-8cf8937cfc40
